.uno,.dos,.tres,.cuatro{background-image: url("../Iconos/fondorecetas.png");
	background-size:100% 100% ;
	 background-repeat: no-repeat;
	z-index:-10;}

ul,ol{
	list-style:none;
}
/* al decir li a decimos que todos los elementos a que esten dentro de li que esten dentro de nav seran los editados */

.nav {
	align: center;
	position:fixed;
	z-index: 1000;
 	left:20vmax;
	}
.nav li a{
	font-weight: bold;
	font-family:"ink free";
	font-size: 2vmax;
	background-color: #74B2E8 ;
	color:#212F3C   ;        /* colocamos color de fuente */
	text-decoration:none; /* quitamos el subrayado que viene ya predeterminado */
	padding:1vmax 1vmax; /* le implementamos el tamaño de relleno de los cuadros */
	display:block;/*para que no se peguen los elementos los cuales venian en linea predeterminados */
	border:#17173A  0.2vmax solid;/* bordes en el menu */ 
}

/* hover es para que cuando pasemos el mouse en este caso se cambie el fondo al color especificado */
.nav li a:hover {
	background-color:#ECF0F1;
}


/* con .nav > li le estamos diciendo que editaremos los li que esten directos de nav */
.nav > li {
	float: left ;/* para que los submenus  fluyan hacia la derecha*/
}

/* ahora ponemos la propiedad display para que desaparezcan los submenus  */
.nav li ul{
	display:none;
	position:absolute;/*ya que el tamaño del submenu va a estar conforme al menu */
}


/* cuando pasemos el mouse por los menus sucedera lo especificado*/
.nav li:hover >ul{
	display:block;
}
a{
	text-decoration:none;
}

div>.container{
	position:relative;
	display:block;
	left:5%;
	top:5%;
	
}
.container{

	width:92vmax;
	margin:1vmax auto 0;
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
}
.container .box{
	position: relative;
	width: 18vmax;
	height:10vmax;
	background:#ff0;
	margin: 1vmax;
    box-sizing: border-box;
    display: inline-block;
}
.container .box .imgBox
{
	position:relative;
	overflow:hidden;

}
/* Para que la imagen se ajuste al tamaño del bloque*/
.container .box .imgBox img{
	max-width:100%;
	transform: transform 2s;
}
/*Para que se agrande cuando pasemos el mouse por encima */
.container .box:hover .imgBox img{
transform:scale(1.2);
}

/*para que se muestre el texto cuando ponemos el cursor encima de imagen*/
.container .box .details{
	position: absolute;
	top:10px;
	left:10px;
	bottom:10px;
	right:10px;
	background:rgba(0,0,0,.8);
	transform: scaleY(0);
	transition: transform .5s;
}
.container .box:hover .details{
transform: scaleY(1);
}

.container .box .details .content{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	text-align:center;
	padding:15px;
	color:#fff;
}
.container .box .details .content a h2{
	margin:0;
	padding:0;
	font-size:20px;
	color:#ff0;
}

.container .box .details .content p{
	margin:10px 0 0;
	padding:0;
	
}