body {
	background-image:url("Iconos/FONDO1.png");
}
header{
 
    	position:fixed;
    	top:-30px;
		bottom:;
		right:;
		left:-20px; 
		margin:auto;
		width:800px;
		 z-index:2;
		 font-family:"Times New Roman";
		 font-size:30px

}
